<div mat-dialog-content>
    <form [formGroup]="sugerenciaForm" (ngSubmit)="onSubmit()">
    
      <h1 class="title-form">¡Comparte tu sugerencia!</h1>
      <div class="form-group">
        <label class="form-label" for="tipo">Categoría de sugerencia:</label>
        <mat-select class="mat-select" id="tipo" formControlName="tipo">
          <mat-option value="Alimentos" selected >Alimentos</mat-option>
          <mat-option value="Atención">Atención</mat-option>
          <mat-option value="Precios">Precios</mat-option>
          <mat-option value="Infraestructura">Infraestructura</mat-option>
        </mat-select>
      </div>
      
      <textarea class="form-control" rows="4" maxlength="256" placeholder="Escribe tu sugerencia aquí..." formControlName="texto" required></textarea>

      <!-- Botón para enviar -->
      <button type="submit" class="btn btn-dark">Sugerir</button>
 
    </form>
</div>



