.contenido .titulo {
    font-size: xx-large;
}

.table-responsive {
  overflow-x: auto;   /* Habilita la barra de desplazamiento horizontal si es necesario */
}

.table-container {
    width: 60%;
    margin: 0 auto;
    max-height: 70vh;  /* Ajusta este valor según el tamaño que prefieras */
    overflow-y: auto;   /* Habilita la barra de desplazamiento vertical */
  }
  
  .table-container .table {
    width: 100%;
    table-layout: fixed; /* Importante para que los anchos fijos funcionen */
  }

  .table-container thead {
    position: sticky;  /* Esto hace que el thead se quede fijo */
    top: 0;            /* Lo coloca en la parte superior del contenedor cuando se hace scroll */
    z-index: 1;
  }
  
  .table-container th:nth-child(1),
  .table-container td:nth-child(1) {
    width: 30%;
  }
  /*40 20 20 100*/
  .table-container th:nth-child(2),
  .table-container td:nth-child(2) {
    width: 10%;
  }
  
  .table-container th:nth-child(3) {
    width: 10%;
  }
  .table-container td:nth-child(3) {
    width: 100%;
  }
  
  .separadas {
    display: flex;
    justify-content: left;
    gap: 30px;
    align-items: flex-start;
    background-color: white !important;
  }

.ambas-tablas{
  display: flex;
  width: 98%;
}