<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="assets/buffet_white.png" alt="Logo" class="logo">
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div *ngIf="isLoged()" class="navbar-start">
        <a class="navbar-item" (click)="navigateMenu()">
            Menu
        </a>
        <a class="navbar-item">
            Comidas
        </a>
        <a class="navbar-item">
            Sugerencias
        </a>
        <a class="navbar-item" *ngIf="isAdministrador()">
            Responsables
        </a>       

      </div>
  
      <div  class="navbar-end">
        <!-- este switch es para cambiar de logeado a deslogeado ahora que no esta hecha la logica y poder probar el navbar -->
        <div *ngIf="!isLoged()" class="navbar-item">
          <div class="buttons">
            <a type="button" class="btn btn-light" (click)="openDialogIniciarSesion()">
              Iniciar Sesion
            </a>
            <a type="button" class="btn btn-secondary" (click)="openDialogRegistrarse()">
              Registrarse
            </a>
          </div>
        </div>
        <div *ngIf="isLoged()" class="navbar-item has-dropdown is-hoverable">
          <a class="material-icons" style="color: black; align-self: center; margin-right: 14px;">account_circle</a>
          <div class="navbar-dropdown  is-right">
            <a class="navbar-item">
              Perfil
            </a>
            <a class="navbar-item" (click)="logOut()">
              Cerrar Sesión
            </a>
          </div>   

        </div>
      </div>
    </div>
  </nav>