.logo{
    height: 50px;
    min-height: auto;
    max-height: auto;
    width: auto;
}

.navbar {
    border-bottom: solid 0.05px rgb(224, 224, 224);
    justify-content: space-between;
    padding: 0 20px;
    height: 8%;
}

.navbar-start {
    font-size: large;
}

.material-icons {
    color: white;
    align-self: center;
    margin-right: 14px;
    font-size: 40px;
}