<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" [href]="isLoged() ? '/menu' : '/'">
        <img src="assets/buffet_white.png" alt="Logo" class="logo">
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div *ngIf="isLoged()" class="navbar-start">
        <button class="navbar-item" (click)="navigateMenu()">
            Menu
        </button>
        <button class="navbar-item" (click)="navigateProductos()">
            Productos
        </button>
        <button class="navbar-item" (click)="navigateSugerencias()" *ngIf="isResponsableTurno()">
            Sugerencias
        </button>
        <button class="navbar-item" *ngIf="isAdministrador()">
            Responsables
        </button>       

      </div>
  
      <div  class="navbar-end">
        <!-- este switch es para cambiar de logeado a deslogeado ahora que no esta hecha la logica y poder probar el navbar -->
        <div *ngIf="!isLoged()" class="navbar-item">
          <div class="buttons">
            <button type="button" class="btn btn-light" (click)="openDialog(IniciarSesionComponent,'home')">
              Iniciar Sesion
            </button>
            <button type="button" class="btn btn-secondary" (click)="openDialog(RegistrarseComponent,'home')">
              Registrarse
            </button>
          </div>
        </div>
        <div *ngIf="isLoged()" class="navbar-item has-dropdown is-hoverable">
          <div class="material-icons" >account_circle</div>
          <div class="navbar-dropdown  is-right">
            <button class="navbar-item" (click)="navigatePerfil()">
              Perfil
            </button>
            <button class="navbar-item" (click)="logOut()">
              Cerrar Sesión
            </button>
          </div>   

        </div>
      </div>
    </div>
  </nav>