body {
    font-family: Arial, sans-serif;
    background-color: #eceff1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    text-align: center;
}

.bold {
    font-size: 24px;
    margin-bottom: 20px;
}

.profile-section {
    margin-bottom: 20px;
}

.profile-pic {
    width: 20%; /* Las imágenes se ajustarán al tamaño máximo del contenedor */
    height: auto; /* Mantiene la relación de aspecto de las imágenes */
    border-radius: 20px;
}

.info-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.field {
    display: flex;
    flex-direction: column;
    text-align: left;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.btn {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.btn:hover {
    background-color: #555;
}

.bold{
    font-size: xx-large;
    font-weight: bold;
    padding-bottom: 7%;
}
