<h1 mat-dialog-title>Menu</h1>
<div mat-dialog-content>
    <form>
      <!-- Foto de perfil -->
      <div class="form-group">
        <label for="foto">Foto</label>
        <input type="file" id="foto" accept="image/*" />
      </div>
  
      <!-- DNI -->
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" placeholder="Ingrese el nombre" />
      </div>
  
      <!-- Contraseña -->
      <div class="form-group">
        <label for="entrada">Entrada</label>
        <input type="text" id="entrada" placeholder="Ingrese la entrada" />
      </div>
  
      <!-- Nombre -->
      <div class="form-group">
        <label for="plato">Plato principal</label>
        <input type="text" id="plato" placeholder="Ingrese el plato principal" />
      </div>
  
      <!-- Apellidos -->
      <div class="form-group">
        <label for="bebida">Bebida</label>
        <input type="text" id="bebida" placeholder="Ingrese la bebida" />
      </div>
  
      <!-- Email -->
      <div class="form-group">
        <label for="postre">Postre</label>
        <input type="text" id="postre" placeholder="Ingrese el postre" />
      </div>
  
      <!-- Botón de registro -->
      <button mat-raised-button color="primary">Agregar Menu</button>
 
    </form>

</div>
<!-- 
<button mat-icon-button class="close-btn" mat-dialog-close>
    <mat-icon>close</mat-icon>
</button> -->

  