<h1 mat-dialog-title>Agregar Menú</h1>
<div mat-dialog-content>
  <form [formGroup]="menuForm">
    <!-- Foto -->
    <mat-form-field appearance="fill">
      <mat-label >Foto</mat-label>
      <input matInput formControlName="foto" id="foto" accept="image/*" />
      <!-- (change)="menuForm.get('foto')?.setValue($event.target.files[0])" -->
    </mat-form-field>

    <!-- Nombre -->
    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre" placeholder="Ingrese el nombre" />
      <mat-error *ngIf="menuForm.get('nombre')?.hasError('required')">
        El nombre es obligatorio
      </mat-error>
    </mat-form-field>

    <!-- Entrada -->
    <mat-form-field appearance="fill">
      <mat-label>Entrada</mat-label>
      <input matInput formControlName="entrada" placeholder="Ingrese la entrada" />
      <mat-error *ngIf="menuForm.get('entrada')?.hasError('required')">
        La entrada es obligatoria
      </mat-error>
    </mat-form-field>

    <!-- Plato principal -->
    <mat-form-field appearance="fill">
      <mat-label>Plato principal</mat-label>
      <input matInput formControlName="plato" placeholder="Ingrese el plato principal" />
      <mat-error *ngIf="menuForm.get('plato')?.hasError('required')">
        El plato principal es obligatorio
      </mat-error>
    </mat-form-field>

    <!-- Bebida -->
    <mat-form-field appearance="fill">
      <mat-label>Bebida</mat-label>
      <input matInput formControlName="bebida" placeholder="Ingrese la bebida" />
      <mat-error *ngIf="menuForm.get('bebida')?.hasError('required')">
        La bebida es obligatoria
      </mat-error>
    </mat-form-field>

    <!-- Postre -->
    <mat-form-field appearance="fill">
      <mat-label>Postre</mat-label>
      <input matInput formControlName="postre" placeholder="Ingrese el postre" />
      <mat-error *ngIf="menuForm.get('postre')?.hasError('required')">
        El postre es obligatorio
      </mat-error>
    </mat-form-field>

  </form>
</div>

<div mat-dialog-actions>
  <!-- <button mat-button (click)="onCancelar()">Cancelar</button> -->
  <button class="button is-primary is-small" (click)="onAgregarMenu()" [disabled]="menuForm.invalid">
    Agregar Menú
  </button>
  <!-- <button mat-raised-button color="primary" (click)="onAgregarMenu()" [disabled]="menuForm.invalid">
    Agregar Menú
  </button> -->
</div>
