<h1 mat-dialog-title>{{data.titulo}}</h1>
<div mat-dialog-content>
  <form [formGroup]="menuForm">
    <!-- Foto -->
    <!-- <div>
      <label for="fileInput">Cargar Imagen</label>
      <input 
        id="fileInput" 
        type="file"        
        (change)="onFileSelected($event)" 
        accept="image/*" 
        class="file-input" 
      />
      <mat-error *ngIf="imagenError">
        {{ imagenError }}
      </mat-error>
    </div> -->

    <!-- Nombre -->
    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre" placeholder="Ingrese el nombre" />
      <mat-error *ngIf="menuForm.get('nombre')?.hasError('required')">
        El nombre es obligatorio
      </mat-error>
    </mat-form-field>

    <!-- Entrada -->
    <mat-form-field appearance="fill">
      <mat-label>Entrada</mat-label>
      <input matInput formControlName="entrada" placeholder="Ingrese la entrada" />
      <mat-error *ngIf="menuForm.get('entrada')?.hasError('required')">
        La entrada es obligatoria
      </mat-error>
    </mat-form-field>

    <!-- Plato principal -->
    <mat-form-field appearance="fill">
      <mat-label>Plato principal</mat-label>
      <input matInput formControlName="platoPrincipal" placeholder="Ingrese el plato principal" />
      <mat-error *ngIf="menuForm.get('platoPrincipal')?.hasError('required')">
        El plato principal es obligatorio
      </mat-error>
    </mat-form-field>

    <!-- Bebida -->
    <mat-form-field appearance="fill">
      <mat-label>Bebida</mat-label>
      <input matInput formControlName="bebida" placeholder="Ingrese la bebida" />
      <mat-error *ngIf="menuForm.get('bebida')?.hasError('required')">
        La bebida es obligatoria
      </mat-error>
    </mat-form-field>

    <!-- Postre -->
    <mat-form-field appearance="fill">
      <mat-label>Postre</mat-label>
      <input matInput formControlName="postre" placeholder="Ingrese el postre" />
      <mat-error *ngIf="menuForm.get('postre')?.hasError('required')">
        El postre es obligatorio
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Precio</mat-label>
      <input matInput formControlName="precio"  type="number" placeholder="Ingrese el precio" />
      <mat-error *ngIf="menuForm.get('precio')?.hasError('required')">
        El precio es obligatorio
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" *ngIf="!data.editar">
      <mat-label>¿Es vegetariano?</mat-label>
      <mat-select formControlName="vegetariano">
        <mat-option [value]="true">Sí</mat-option>
        <mat-option [value]="false">No</mat-option>
      </mat-select>
      <mat-error *ngIf="menuForm.get('vegetariano')?.hasError('required')">
        La selección es obligatoria
      </mat-error>
    </mat-form-field>
    
    <!-- Select para los días de la semana -->
    <mat-form-field appearance="fill"  *ngIf="!data.editar">
      <mat-label>Día</mat-label>
      <mat-select formControlName="dia">
        <mat-option *ngFor="let dia of data.dias" [value]="dia.enumDia">{{ dia.enumDia }}</mat-option>
      </mat-select>
      <mat-error *ngIf="menuForm.get('dia')?.hasError('required')">
        El día es obligatorio
      </mat-error>
    </mat-form-field>

  </form>
</div>

<div mat-dialog-actions>
  <!-- <button mat-button (click)="onCancelar()">Cancelar</button> -->
  <button class="button is-primary is-small" (click)="onAgregarMenu()" [disabled]="menuForm.invalid">
   {{data.boton}}
  </button>

</div>
