
.mat-dialog-title {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  form {
      display: flex;
      flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  mat-label {
    font-size: 12px;
    margin-bottom: 5px;
  }
  
  input {
    padding: 5px;
    font-size: 12px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
  }


  /* button {
    padding: 10px;
    font-size: 12px;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  } */
  
  button:hover {
    background-color: #45a049;
  }
  
/*

.close-btn {
    position: absolute; 
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .close-btn mat-icon {
    color: #333;
    font-size: 24px;
  }
  
  .close-btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
  } */