.mat-dialog-title {
    text-align: center;
    font-size: 1.5rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }

  .title-form{
    font-size: large;
    font-weight: bold;
  }
  
  .form-label {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 10px;
  }
  
  input {
    padding: 5px;
    font-size: 12px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  /* button {
    padding: 10px;
    font-size: 12px;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  } */
  
.images{
  display: flex;
  align-items: center;
  height: 100px;
  margin-bottom: 10px;
}

.images img {
  width: 80%; /* Las imágenes se ajustarán al tamaño máximo del contenedor */
  height: auto; /* Mantiene la relación de aspecto de las imágenes */
  border-radius: 20px;
}

.file-input-container {
  position: relative;
  display: inline-block;
}

.hide {
  display: none; /* Ocultamos el input para mostrar solo el label con la imagen */
}

.file-label {
  cursor: pointer;
}

.btn.btn-dark {
  margin-top: 15px;
}
/*.file-label img {
  width: 50px; 
  height: auto;
}
*/

/*

.close-btn {
    position: absolute; 
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .close-btn mat-icon {
    color: #333;
    font-size: 24px;
  }
  
  .close-btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
  } */