<div class="flex-parent">
    <img src="assets/presentacion.jpg" alt="Presentación del comedor" class="big-image">

    <div class="flex-child">
        <h1 class="bold">¡Bienvenido al comedor de la Facultad de Informática!</h1>

        <p class="bold bold-text">¡Aquí puedes encontrar todo lo que necesitás para poder acceder a los servicios del comedor!</p>

        <p class="bold bold-text">¡Desde comidas a bebidas, postres y  menúes del día!</p>

        <p class="bold bold-text">¡Comprá tu desayuno, almuerzo o cena y recibí en tu correo el QR para retirarlo!</p>

        <p class="bold bold-text">¡Opiná sobre nuestros alimentos, atención, infraestructura y precios!</p>
    </div>
</div>