/* .core-layout {
    display: flex;
    flex-direction: column;
    height: 80vh; Asegura que el layout ocupe el alto de la pantalla
  }
  
.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
} */

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: 100vh; /* Usar toda la altura de la pantalla */
  padding: 40px 10%; /* Añadir más espacio alrededor */
}
