.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: 100vh; /* Usar toda la altura de la pantalla */
  padding: 20px 1.5%; /* Añadir más espacio alrededor, antes era 40px 10% */
}
