.core-layout {
    display: flex;
    flex-direction: column;
    height: 80vh; /* Asegura que el layout ocupe el alto de la pantalla */
  }
  
.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}