.strong {
    color: black;
}

.mat-dialog-content strong{
    color: black !important;
}

.container{
    align-items: center;
    align-self: center;
}

.btn {
    width: 95%;
    justify-content: center;
    margin-bottom: 10px;
}