<div class="ambas-tablas">
  <div class="table-container">
    <div class="table-responsive">
      <h1 class="titulo">Responsables</h1>
      <table class="table table-bordered" *ngIf="responsables.length > 0">
        <thead class="table-dark">
          <tr>
            <th>Empleado</th>
            <th>DNI</th>
            <th>Turnos</th>
            <th>Asignar</th>
            <th>Borrar</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let responsable of responsables; trackBy: trackById">
            <tr>
              <td>
                {{ responsable.nombre.slice(0,50) + ((responsable.nombre.length > 50) ? '...' : '')}}
              </td>
              <td>{{ responsable.dni }}</td>
              <td>
                <select *ngIf="responsable.turnos.length > 0">
                  <option *ngFor="let turno of responsable.turnos">{{ turno.nombre }}</option>
                </select>
                <select *ngIf="responsable.turnos.length == 0">
                  <option>Ninguno</option>
                </select>
              </td>
              <td>
                <button class="btn btn-dark" (click)="openDialogAsignarTurno(responsable)">
                  <i class="bi bi-plus"></i>
                </button>
                <button class="btn btn-dark" (click)="openDialogSacarTurno(responsable)">
                  <i class="bi bi-dash"></i>
                </button>
              </td>
              <td>
                <button class="btn btn-dark" (click)="openDialogEliminarResponsable(responsable)">
                  <i class="bi bi-trash-fill"></i>
                </button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <div *ngIf="responsables.length == 0">
        <p>¡No hay responsables aún!</p>
      </div>
    </div>
    <button class="btn btn-dark" (click)="openDialogAgregarResponsable()">Agregar</button>
  </div>

  <!-- Tabla de turnos -->
  <div class="table-responsive">
    <h1 class="titulo">Turnos</h1>
    <table class="table table-bordered" *ngIf="turnos.length > 0">
      <thead class="table-dark">
        <tr>
          <th>Turno</th>
          <th>Entrada</th>
          <th>Salida</th>
          <th>Editar</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let turno of turnos; trackBy: trackById">
          <tr>
            <td>
              <p>{{ turno.nombre.slice(0,10) + ((turno.nombre.length > 10) ? '...' : '') }}</p>
            </td>
            <td>{{ turno.horaEntrada }}</td>
            <td>{{ turno.horaSalida }}</td>
            <td>
              <button class="btn btn-dark" (click)="openDialogEditarTurno(turno)">
                <i class="bi bi-pencil-fill"></i>
              </button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <div *ngIf="turnos.length == 0">
      <p>¡No hay turnos aún!</p>
    </div>
    <button class="btn btn-dark" (click)="openDialogAgregarTurno()">Agregar</button>
  </div>
</div>
