.table-responsive {
  overflow-y: auto;
  min-height: 40vh; /* Evita que sea demasiado pequeña */
  max-height: 75vh; /* Evita que ocupe toda la pantalla */
  width: 100%;
}

.table th:nth-child(4), .table td:nth-child(4) {
  min-width: 975px; /* Ajusta este valor según lo que necesites */
  text-align: left; /* Alineación del texto a la izquierda si es necesario */
}

.expanded-content {
  background-color: #f8f9fa;
  padding: 15px;
  border-top: 1px solid #ccc;
  font-style: italic;
  width: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.titulo{
  font-weight: bold;
}

.filtros{
  display: flex; 
  flex-direction: row;
  gap: 10px;
  max-width: fit-content;
  justify-content: flex-start;
}
.encabezados {
  display: flex;
  flex-direction: column; /* Los elementos estarán en una columna */
  align-items: flex-start; /* Alinea todo el contenido a la izquierda */
}
