:host{
    min-width: 100%;
}

.container{
    display: flex;    
    align-items: center;
    justify-content: space-evenly;
   
    min-width: 100%;
}
.caja{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 50%;
}
.carrusel{
    background-color: grey;

}

.menu-info{
    display: flex;
    flex-direction: column;
    min-width: 40%;
}

.menu-info .titulo{
    align-self: center;
    display:flex;
    align-items: center;
}

.pagination-link.is-current {
    background-color: #3273dc; 
    color: #fff; 
    border-color: #3273dc;
  }


.botones{
    display: flex;
    justify-content: space-between;
    align-items: center;
}