:host{
    min-width: 100%;
}

.container {
    display: flex;
    min-width: 100%;
    gap: 20px;
}

.container .caja:first-of-type {
    flex: 0 0 65%;
}

.container .caja:last-of-type {
    flex: 0 0 35%;
}

.caja {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carrusel {
    width: 100%;
    max-width: 800px;
    aspect-ratio: 16 / 10; /*proporción basada en 800x500 */
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* centrar en su contenedor */
}

.carrusel img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 5px;
}

.dias {
    margin-top: 15px;
}

.menu-info{
    display: flex;
    flex-direction: column;
    min-width: 40%;
}

.menu-info .titulo{
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}
.menu-info .titulo h1{
    margin-bottom: 20px;
    font-size: xx-large;
}

.menu-info p{
    font-size: x-large;
    margin-top: 20px;
}

.pagination-link {
    padding: 10px;
    font-size: large;
    background-color: black;
    color: white;
}

.pagination-link.is-current {
    background-color: #3273dc; 
    color: #fff; 
    border-color: #3273dc;
  }

.popup {
    font-size: large;
    text-decoration: underline;
    font-weight: bold;
}

.botones{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

strong {
    color: black;
}