<div class="primeros-elementos">
    <h1 class="titulo">Menúes</h1>
    <div class="buttons">
        <button *ngIf="esCliente()" type="button" class="popup" (click)="openDialogSugerir()">
            ¿Tenés sugerencias? Compartilas acá
        </button>
        <button *ngIf="esAdministrador()" class="btn btn-dark" style="margin: 10px;" (click)="openDialogCreateMenu()">Agregar Menú</button>
    </div>
</div>

<div class="container"> 

    <div class="caja">
        <div class="cambiar-opcion">
            <button *ngIf="!verVegeta" class="button" style="margin: 10px;" (click)="verOpcionVegetariana()">Ver opción vegetariana</button>
            <button *ngIf="verVegeta" class="button" style="margin: 10px;" (click)="verOpcionVegetariana()">Ver opción estándar</button>
        </div>  
      
        <div *ngFor="let dia of getPaginatedMenus()" >
            <div *ngIf="dia.menuVegetariano != null && verVegeta " class="carrusel" >
                <img *ngIf="dia.menuVegetariano.imagen" type="image/*" [src]="getSanitizedImage(dia.menuVegetariano.imagen)" alt="Foto de Menú">
            </div>
            <div *ngIf="dia.menuEstandar != null && !verVegeta" class="carrusel" >
                <img *ngIf="dia.menuEstandar.imagen" type="image/*" [src]="getSanitizedImage(dia.menuEstandar.imagen)" alt="Foto de Menú">
                <img *ngIf="!dia.menuEstandar.imagen" type="image/*" src="assets/menu_base.png" alt="Foto de Menú">
            </div>
        </div>

        <div class="dias">
            <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                <ul class="pagination-list">
                    <li *ngFor="let dia of dias; let i = index">
                        <button (click)="cambiarPagina(i)" class="pagination-link" [ngClass]="{'is-current': i === diaSeleccionadoIndex}">{{ dia.enumDia }}</button>
                    </li>
                  </ul>
              </nav>
        </div>
    </div>
   <div class="caja">
        <div class="menu-info"  *ngFor="let dia of getPaginatedMenus()">
            <div *ngIf="verVegeta">
                <div *ngIf="dia.menuVegetariano == null && verVegeta ">
                    <p>No hay menú vegetariano cargado</p>
                </div>
                <div *ngIf="dia.menuVegetariano != null ">                
                    <div class="titulo">
                        <h1> {{dia.menuVegetariano.nombre}}</h1>
                        <h3 style="margin: 10px;">vegetariano</h3>
                    </div>
                    <p><strong>Entrada:</strong> {{ dia.menuVegetariano.entrada }}</p>
                    <p><strong>Plato Principal:</strong> {{ dia.menuVegetariano.platoPrincipal }}</p>
                    <p><strong>Postre:</strong> {{ dia.menuVegetariano.postre }}</p>
                    <p><strong>Bebida:</strong> {{ dia.menuVegetariano.bebida }}</p>
                    <p><strong>Precio:</strong> ${{ dia.menuVegetariano.precio }}</p>
                    <div class="botones">
                        <button *ngIf="isAdministrador()" class="button is-black is-normal" (click)="openDialogEditMenu(dia.menuVegetariano, dia)">Editar</button>
                        <button *ngIf="isAdministrador()" class="button is-black  is-normal" (click)="openDialogDeleteMenu(dia.menuVegetariano.tipoMenu, dia)">Eliminar</button>
                    </div>
                </div>
            </div>
            <div *ngIf="!verVegeta">
                <div *ngIf="dia.menuEstandar == null && !verVegeta ">
                    <p>No hay menú estándar cargado</p>
                </div>
                <div *ngIf="dia.menuEstandar != null ">                
                    <div class="titulo">
                        <h1> {{dia.menuEstandar.nombre}}</h1>
                    </div>
                    <p><strong>Entrada:</strong> {{ dia.menuEstandar.entrada }}</p>
                    <p><strong>Plato Principal:</strong> {{ dia.menuEstandar.platoPrincipal }}</p>
                    <p><strong>Postre:</strong> {{ dia.menuEstandar.postre }}</p>
                    <p><strong>Bebida:</strong> {{ dia.menuEstandar.bebida }}</p>
                    <p><strong>Precio:</strong> ${{ dia.menuEstandar.precio }}</p>
                    <div class="botones">
                        <button *ngIf="isAdministrador()" class="button is-black is-normal" (click)="openDialogEditMenu(dia.menuEstandar, dia)">Editar</button>
                        <button *ngIf="isAdministrador()" class="button is-black  is-normal" (click)="openDialogDeleteMenu(dia.menuEstandar.tipoMenu, dia)">Eliminar</button>
                        <button *ngIf="esCliente()" class="button is-black  is-normal">Comprar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>  
    
</div >



