:host{
    min-width: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: 100%;
}

.caja {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.caja:first-child {
    flex: 0 0 60%;
}

.caja:last-child {
    flex: 0 0 35%
}

.dias {
    margin-top: 15px;
}

img{
    width: 100%; 
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.menu-info{
    display: flex;
    flex-direction: column;
    min-width: 40%;
}

.menu-info .titulo{
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}
.menu-info .titulo h1{
    margin-bottom: 20px;
    font-size: xx-large;
}

.menu-info p{
    font-size: x-large;
    margin-top: 20px;
}

.pagination-link {
    padding: 10px;
    font-size: large;
    background-color: black;
    color: white;
}

.pagination-link.is-current {
    background-color: #3273dc; 
    color: #fff; 
    border-color: #3273dc;
  }

.popup {
    font-size: large;
    text-decoration: underline;
    font-weight: bold;
}

.botones{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

strong {
    color: black;
}