<p>works</p>

<div class="container">
    <div class="caja">
        <div class="carrusel">
            <p>works</p>
        </div>
    </div>
    <div class="caja">
        <div class="menu-info">
            <h1> Nombre Menu</h1>
            <p>Entrada: </p>
            <p>Plato principal:</p>
            <p>Bebida:</p>
            <p>Postre: flan casero</p>
            <p>Precio:</p>
            <div class="botones">
                <button class="button is-primary is-small">Editar</button>
                <button class="button is-primary  is-small">Desactivar</button>
            </div>
        </div>
    </div>      
    
</div >
<div style="min-width: 100%;" class="buttons has-addons is-right">
    <button class="button is-black is-small " style="margin: 10px;" (click)="openDialogAgregarMenu()">Agregar Menu</button>
</div>

